#container {
  display: block;
  margin: auto;
  text-align: center;
}

img {
  margin: auto;
  height: 200px;
}

/*.button {
  background-image: url("/images/microphone.png");
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #BE68BE;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #BE68BE}

.button:active {
  background-color: #BE68BE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/
.myButton {
    cursor:pointer;
    outline: none;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 500px;
}
.myButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}